AI_HOST=127.0.0.1
AI_PORT=8090
AI_MODEL_VERSION=fracatlas-cnn-1.0.0
AI_DATASET_CSV=../Dataset/FracAtlas/dataset.csv
AI_IMAGE_DIR=../Dataset/FracAtlas/images
AI_ARTIFACT_DIR=artifacts
AI_MAX_UPLOAD_BYTES=10485760

